<launch>
    <group ns="wg">
        <param name="rate" value="20.0"/>
        <node pkg="joy" name="joy_node" type="joy_node">
            <param name="dev" value="/dev/input/js0"/>
        </node>
        <node pkg="teleop_twist_joy" name="joy_to_twist" type="teleop_twist_joy.py">
            <param name="linear_accel_x" value="0.5"/>
	        <param name="linear_accel_y" value="0.5"/>
            <param name="linear_scale_x" value="0.5"/>
	        <param name="linear_scale_y" value="0.5"/>
            <param name="angular_scale_z" value = "1.0"/>
        </node>
        <node pkg="isu_ik_solver" name="ik_solver_node" type="isu_ik_solver.py"/>
        <node pkg="rosserial_python" name="motcontroller" type="serial_node.py">
            <param name="port" value="/dev/ttyS0"/>
        </node>
    </group>
</launch>
